@import "tailwindcss";


@font-face {
  font-family:Actay ;
  src: url(./assets/Fonts/Actay.otf);
}

.Actay{
  font-family: Actay;

}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popup {
  animation: popup 0.3s ease-out forwards;
}
